@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    box-sizing: border-box;
    .mySlides {display: none};
    img {vertical-align: middle};
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    --primary-color: #1c1a0c;
    --secondary-color: #375b45;
    --tertiary-color: #d7cbb6;
    --style-color: #e5bc4b;
    --fifth-color: #363a2b;
    height: 200vh;
}

/* Navbar */
nav {
    background-color: #fff;
}
.navbar-nav {
    margin-left: auto !important;
}

.logo {
    width: 15rem;
}

/* Main section */
.btn-help {
    border-radius: 50px;
    border: 1px solid #375B45;
    background: #375B45;
    color: #fff;
    font-weight: bold;
}

.btn-help:hover {
    border-radius: 50px;
    border: 1px solid #375B45;
    background: #fff;
    color: #375B45;
    font-weight: bold;
}

.beta {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #ffffff;
    height: 50px;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.beta a {
    margin: 10px;
}

.beta a:hover {
    color: var(--style-color);
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .slide {
        margin-top: 10px;
    }
}