@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    --primary-color: #1c1a0c;
    --secondary-color: #375b45;
    --tertiary-color: #d7cbb6;
    --style-color: #e5bc4b;
    --fifth-color: #363a2b;
    height: 200vh;
    padding-top: 7rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--fifth-color);
    color: #fff;
}

#logo {
    height: 4rem;
    margin: 5px;
}

/* Main */
#main {
    height: 100vh;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.sidebar-trigger {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 20%;
    padding: 15px;
    margin-right: 20px;
}

.btn-close {
    color: #fff !important;
}

/* Sidebar */
.here {
    text-decoration: underline !important;
}
.offcanvas-end {
    width: 20rem !important;
}

.side-item {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 0;
    margin: 2px;    
    font-weight: bold;
}

.side-item:hover {
    background-color: #a0a0a0;
    color: #fff;
}

.offcanvas-header {
    background-color: var(--secondary-color);
    color: #fff;
}

#eco-line {
    background-color: var(--style-color);
    height: 5px;
    width: 100%;
}

.offcanvas-body {
    background-color: var(--secondary-color) !important;
    color: var(--tertiary-color);
}

/* Sponsors */
#sponsors {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0;
    height: 30vh;
}

.sponsors {
    display: inline-block;
    margin: 10px;
}

.sponsors img {
    width: 100px;
    margin: 10px;
}

/* About */

/* Footer */
footer {
    background-color: var(--primary-color);
    padding: 2rem;
    color: #fff;
    width: 100%;
}

h5 {
    font-weight: bold;
}

.footer-links {
    color: var(--tertiary-color);
}

.footer-links:hover {
    color: #fff;
    text-decoration: underline;
}

.foot-links a {
    color: var(--tertiary-color);
    text-decoration: none;
    margin-left: 5px;
    font-size: 1.2rem;
}

.insta, .insta:hover {
    color: #cd486b;
}

.linked, .linked:hover {
    color: #00a0dc;
}

.tik, .tik:hover {
    color: #ff0050;
}

/* Media Queries */
@media only screen and (min-width: 300px) and (max-width: 991px) {
    #sponsors {
        height: 50vh;
    }

    .hero-text {
        width: 100%;
    }

    h1 {
        font-size: 2.5rem;
    }
}

/* Other pages */

#main-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Collapable Plants */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 5px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.collapse-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #403e3e;
}